<!-- admin.html -->

<div ng-controller="adminCtrl">
  <h1> ADMIN TIME! </h1>
  <form>
    <h2> Add a card </h2>
    <input type="text" placeholder="front" ng-model="front"required autofocus>
    <input type="text" placeholder="back" ng-model="back" required autofocus>
    <button type="submit" ng-click="addCard()">Add Card</button>
  </form>

  <form>
    <h2> See cards </h2>
    <button type="submit" ng-click="fetchCards()">Get Cards</button> 
  </form>

  <table>
    <thead>
      <tr>
        <th scope="col"> Front </th>
        <th scope="col"> Back </th>
        <th scope="col"> Bin </th>
        <th scope="col"> Next Time Shown </th>
        <th scope="col"> # Times Right </th>
        <th scope="col"> # Times Wrong </th>
      </tr>
    </thead>
    <tr ng-repeat='card in cards'>
      <td> {{card.front}} </td>
      <td> {{card.back}} </td>
      <td> {{card.bin}} </td>
      <td> {{card.next}} </td>
      <td> {{card.right}} </td>
      <td> {{card.wrong}} </td>
    </tr>
  </table> 
</div>
